<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    <h1>{{ title }}</h1>
    <form method="post" name="login">
        {{ form.hidden_tag() }}
            <div>
                <div>
                    {% for errors in form.errors %}
                        <span>{{ errors }}!</span>
                    {% endfor %}
                </div>
                Email:
                {{ form.email(size=20) }}
                <br>Password:
                {{ form.password(size=20) }}
                <br>{{ form.remember_me }} Remember Me
            </div>
            <div>
                <input type="submit" value="Sign In">
                <a  href="/signup">Sign Up</a>
            </div>

    </form>
{% endblock %}