    <div class="card card-body mb-4 comment">
        <div class="container-fluid p-0">
            <div class="row">
                <div class="col-2">
                    <img src="{{ comment.author.avatar_url }}" alt="Avatar" class="rounded-circle user-avatar-xl mb-3 ml-2">
                    {% if g.user.nickname == comment.author.nickname %}
                            <form action="/delete_comment" method="post">
                                <input type="hidden" name="comment_id" value="{{ comment.id }}">
                                <button type="submit" class="btn btn-outline-danger btn-block btn-sm float-right" value="delete_comment">Delete</button>
                            </form>
                         {% endif %}
                </div>
                <div class="col-10">
                    <h5 class="card-title font-weight-bold">{{ comment.author.first_name }} {{ comment.author.last_name }}
                        <a href="{{ url_for('user_profile', _external=True, nickname = comment.author.nickname) }}" class="font-weight-normal text-muted">@{{ comment.author.nickname }}</a>

                    </h5>
                    <p class="card-text text">{{ comment.body }}</p>
                     <p class="card-text">
                    <small class="text-muted">
                        {{ comment.time_to_string(comment.timestamp) }}
                    </small>
                    </p>
                </div>
            </div>
        </div>


    </div>