<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
        <div class="header d-flex flex-column justify-content-center mb-4">
            <div class="container">
                <h1 class="display-3 header-logo text-uppercase">Tech Blog</h1>
            </div>
        </div>

        <main class="main mb-4">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">

                        {% if posts.items|length < 1 %}
                            <div class="card mb-4">
                                <div class="card-body">
                                    <h4 class="card-title">Posts not found</h4>
                                </div>
                            </div> <!-- /.card -->
                        {% else %}
                            {% for post in posts.items %}
                                {% include 'post.html' %}
                            {% endfor %}
                            {% include 'pagination.html' %}
                        {% endif %}



                    </div> <!-- /.left_column -->

                    <div class="col-lg-4">
                        <div class="card mb-4">
                            <h4 class="card-title m-3">Most active users</h4>
                            <ul class="list-group list-group-flush">
                            {% if users.items|length < 1 %}
                                <li class="list-group-item">
                                    <h5>Users not found</h5>
                                </li>
                            {% else %}
                                {% for user in users.items %}
                                    <a href="{{ url_for('user_profile', nickname=user[0].nickname, _external=True) }}">
                                        <li class="list-group-item">
                                            <img class="rounded-circle user-avatar-sm" src="{{ user[0].avatar_url }}" alt="">
                                            @{{ user[0].nickname }}
                                        </li>
                                    </a>
                                {% endfor %}
                            {% endif %}



                                {#<a href="">
                                    <li class="list-group-item">
                                        <img class="rounded-circle user-avatar-sm" src="../static/img/gallery-6.jpg" alt="Avatar">
                                        @nickname
                                    </li>
                                </a>

                                <a href="">
                                    <li class="list-group-item">
                                        <img class="rounded-circle user-avatar-sm" src="../static/img/gallery-6.jpg" alt="Avatar">
                                        @nickname
                                    </li>
                                </a>#}
                            </ul>
                        </div> <!-- /.users_card -->


                        {#<div class="block rounded">
                            <h3>Tags Cloud</h3>
                            <a class="badge badge-success" href="#">World</a>
                            <a class="badge badge-success" href="#">Travel</a>
                            <a class="badge badge-success" href="#">Rest</a>
                            <a class="badge badge-success" href="#">Mountain</a>
                            <a class="badge badge-success" href="#">River</a>
                        </div> <!-- /.tags-cloud -->#}
                    </div> <!-- /.right_column -->
                </div>
            </div>
        </main>
{% endblock %}