{% if request.endpoint == 'index' %}

<nav aria-label="Page navigation example">
    <ul class="pagination">
        {% if posts.has_next and posts.has_prev %}
            <li class="page-item"><a class="page-link" href="{{ url_for('index', _external=True) }}"><i class="fa fa-angle-double-left"></i></a></li>
            <li class="page-item"><a class="page-link" href="{{ url_for('index', _external=True, page = posts.prev_num) }}"><i class="fa fa-angle-left"></i></a></li>
            <li class="page-item active"><a class="page-link" href="">{{ page }}</a></li>
            <li class="page-item"><a class="page-link" href="{{ url_for('index', _external=True, page = posts.next_num) }}"><i class="fa fa-angle-right"></i></a></li>
            {#<li class="page-item"><a class="page-link" href="{{ url_for('index', page = last_page) }}"><i class="fa fa-angle-double-right"></i></a></li>#}
        {% elif posts.has_next %}
            {#<li class="page-item disabled"><a class="page-link" href="{{ url_for('index') }}"><i class="fa fa-angle-double-left"></i></a></li>#}
            <li class="page-item disabled"><a class="page-link" href="{{ url_for('index', _external=True, page = posts.prev_num) }}"><i class="fa fa-angle-left"></i></a></li>
            <li class="page-item active"><a class="page-link" href="">{{ page }}</a></li>
            <li class="page-item"><a class="page-link" href="{{ url_for('index', _external=True, page = posts.next_num) }}"><i class="fa fa-angle-right"></i></a></li>
            {#<li class="page-item"><a class="page-link" href="{{ url_for('index', page = last_page) }}"><i class="fa fa-angle-double-right"></i></a></li>#}
        {% elif posts.has_prev %}
            <li class="page-item"><a class="page-link" href="{{ url_for('index', _external=True) }}"><i class="fa fa-angle-double-left"></i></a></li>
            <li class="page-item"><a class="page-link" href="{{ url_for('index', _external=True, page = posts.prev_num) }}"><i class="fa fa-angle-left"></i></a></li>
            <li class="page-item active"><a class="page-link" href="">{{ page }}</a></li>
            <li class="page-item disabled"><a class="page-link" href="{{ url_for('index', _external=True, page = posts.next_num) }}"><i class="fa fa-angle-right"></i></a></li>
            {#<li class="page-item disabled"><a class="page-link" href="{{ url_for('index', page = last_page) }}"><i class="fa fa-angle-double-right"></i></a></li>#}
        {% else %}
            {#<li class="page-item disabled"><a class="page-link" href="{{ url_for('index') }}"><i class="fa fa-angle-double-left"></i></a></li>#}
            <li class="page-item disabled"><a class="page-link" href="{{ url_for('index', _external=True, page = posts.prev_num) }}"><i class="fa fa-angle-left"></i></a></li>
            <li class="page-item active"><a class="page-link" href="">{{ page }}</a></li>
            <li class="page-item disabled"><a class="page-link" href="{{ url_for('index', _external=True, page = posts.next_num) }}"><i class="fa fa-angle-right"></i></a></li>
            {#<li class="page-item disabled"><a class="page-link" href="{{ url_for('index', page = last_page) }}"><i class="fa fa-angle-double-right"></i></a></li>#}
        {% endif %}

        {#<li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">...</a></li>
        <li class="page-item"><a class="page-link" href="#">12</a></li>#}

    </ul>
</nav> <!-- /.pagination-->

{% else %}

<nav aria-label="Page navigation example">
    <ul class="pagination">
        {% if posts.has_next and posts.has_prev %}
            <li class="page-item"><a class="page-link" href="{{ url_for('user_profile', _external=True, nickname = user.nickname) }}"><i class="fa fa-angle-double-left"></i></a></li>
            <li class="page-item"><a class="page-link" href="{{ url_for('user_profile', _external=True, nickname = user.nickname, page = posts.prev_num) }}"><i class="fa fa-angle-left"></i></a></li>
            <li class="page-item active"><a class="page-link" href="">{{ page }}</a></li>
            <li class="page-item"><a class="page-link" href="{{ url_for('user_profile', _external=True, nickname = user.nickname, page = posts.next_num) }}"><i class="fa fa-angle-right"></i></a></li>
            {#<li class="page-item"><a class="page-link" href="{{ url_for('user_profile', nickname = user.nickname, page = last_page) }}"><i class="fa fa-angle-double-right"></i></a></li>#}
        {% elif posts.has_next %}
            {#<li class="page-item disabled"><a class="page-link" href="{{ url_for('user_profile', nickname = user.nickname) }}"><i class="fa fa-angle-double-left"></i></a></li>#}
            <li class="page-item disabled"><a class="page-link" href="{{ url_for('user_profile', _external=True, nickname = user.nickname, page = posts.prev_num) }}"><i class="fa fa-angle-left"></i></a></li>
            <li class="page-item active"><a class="page-link" href="">{{ page }}</a></li>
            <li class="page-item"><a class="page-link" href="{{ url_for('user_profile', _external=True, nickname = user.nickname, page = posts.next_num) }}"><i class="fa fa-angle-right"></i></a></li>
            {#<li class="page-item"><a class="page-link" href="{{ url_for('user_profile', nickname = user.nickname, page = last_page) }}"><i class="fa fa-angle-double-right"></i></a></li>#}
        {% elif posts.has_prev %}
            <li class="page-item"><a class="page-link" href="{{ url_for('user_profile', _external=True, nickname = user.nickname) }}"><i class="fa fa-angle-double-left"></i></a></li>
            <li class="page-item"><a class="page-link" href="{{ url_for('user_profile', _external=True, nickname = user.nickname, page = posts.prev_num) }}"><i class="fa fa-angle-left"></i></a></li>
            <li class="page-item active"><a class="page-link" href="">{{ page }}</a></li>
            <li class="page-item disabled"><a class="page-link" href="{{ url_for('user_profile', _external=True, nickname = user.nickname, page = posts.next_num) }}"><i class="fa fa-angle-right"></i></a></li>
            {#<li class="page-item disabled"><a class="page-link" href="{{ url_for('user_profile', nickname = user.nickname, page = last_page) }}"><i class="fa fa-angle-double-right"></i></a></li>#}
        {% else %}
            {#<li class="page-item disabled"><a class="page-link" href="{{ url_for('user_profile', nickname = user.nickname) }}"><i class="fa fa-angle-double-left"></i></a></li>#}
            <li class="page-item disabled"><a class="page-link" href="{{ url_for('user_profile', _external=True, nickname = user.nickname, page = posts.prev_num) }}"><i class="fa fa-angle-left"></i></a></li>
            <li class="page-item active"><a class="page-link" href="">{{ page }}</a></li>
            <li class="page-item disabled"><a class="page-link" href="{{ url_for('user_profile', _external=True, nickname = user.nickname, page = posts.next_num) }}"><i class="fa fa-angle-right"></i></a></li>
            {#<li class="page-item disabled"><a class="page-link" href="{{ url_for('user_profile', nickname = user.nickname, page = last_page) }}"><i class="fa fa-angle-double-right"></i></a></li>#}
        {% endif %}

        {#<li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">...</a></li>
        <li class="page-item"><a class="page-link" href="#">12</a></li>#}

    </ul>
</nav> <!-- /.pagination-->

{% endif %}