<div class="card mb-4">

    {% if post.title_picture_url is not none %}
    <img class="card-img-top post-img" src="{{ post.title_picture_url }}" alt="Title picture">
    {% endif %}
    <div class="card-body">
        <h4 class="card-title font-weight-bold">{{ post.title }}</h4>

        {% if post.sub_title is not none %}
        <p class="card-text text">
            {{ post.sub_title|safe }}
        </p>
        {% endif %}
        <p class="card-text">
            <small class="text-muted">
                {{ post.time_to_string(post.timestamp) }}
                <i class="fa fa-comment ml-2"><span class="ml-1">{{ post.comments.all()|length }}</span></i>
            </small>
        </p>



        {% if request.endpoint == 'user_profile' %}
            <form action="/delete_post" method="post">
            {{ form.hidden_tag() }}
                <a href="{{ url_for('post', _external=True, post_id = post.id) }}" class="btn btn-outline-primary btn-sm">Read more</a>

                {% if g.user.nickname == post.author.nickname %}
                    <input type="hidden" name="post_id", value="{{ post.id }}">
                    <button type="submit" class="btn btn-outline-primary btn-sm" value="delete_post">Delete post</button>
                {% endif %}

                <span class="float-right">
                    Author: <a href="{{ url_for('user_profile', _external=True, nickname = post.author.nickname) }}">@{{ post.author.nickname }}</a>
                </span>
            </form>
        {% else %}
            <a href="{{ url_for('post', _external=True, post_id = post.id) }}" class="btn btn-outline-primary btn-sm">Read more</a>

            <span class="float-right">
                Author: <a href="{{ url_for('user_profile', _external=True, nickname = post.author.nickname) }}">@{{ post.author.nickname }}</a>
            </span>
        {% endif %}


    </div>
</div> <!-- /.post -->