<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    <form method="post", name="register">
        {{ form.hidden_tag() }}
        <div class="container mt-4">
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputFirstName" class="col-form-label">Fistname</label>

                                    {{ form.firstName(class_="form-control", placeholder="Enter firstname", id="inputFirstName") }}
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputLastName" class="col-form-label">Lastname</label>

                                    {{ form.lastName(class_="form-control", placeholder="Enter lastname", id="inputLastName") }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputNickname" class="col-form-label">Nickname</label>

                                {% if form.nickname.errors %}
                                    {{ form.nickname(class_="form-control is-invalid", placeholder="Enter nickname", id="inputNickname", value=form.nickname.data) }}
                                    <small class="form-text text-danger">This nickname incorrect or already in use.</small>
                                {% else %}
                                    {{ form.nickname(class_="form-control", placeholder="Enter nickname", id="inputNickname") }}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <label for="inputEmail" class="col-form-label">Email</label>

                                {% if form.email.errors %}
                                    {{ form.email(class_="form-control is-invalid", placeholder="Enter email", id="inputEmail", value=form.email.data) }}
                                    <small class="form-text text-danger">This email incorrect or already in use.</small>
                                {% else %}
                                    {{ form.email(class_="form-control", placeholder="Enter email", id="inputEmail") }}
                                {% endif %}
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputPassword" class="col-form-label">Enter password</label>

                                    {% if form.password.errors %}
                                        {{ form.password(class_="form-control is-invalid", placeholder="Password", id="inputPassword") }}
                                        <small class="form-text text-danger">Passwords do not match.</small>
                                    {% else %}
                                        {{ form.password(class_="form-control", placeholder="Password", id="inputPassword") }}
                                    {% endif %}
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputPasswordRepeat" class="col-form-label">Repeat password</label>

                                    {% if form.repeat_password.errors %}
                                        {{ form.repeat_password(class_="form-control is-invalid", placeholder="Password", id="inputPasswordRepeat") }}
                                    {% else %}
                                        {{ form.repeat_password(class_="form-control", placeholder="Password", id="inputPasswordRepeat") }}
                                    {% endif %}
                                </div>
                            </div>
                            <button type="submit" class="btn btn-warning">Register</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2"></div>
            </div>
        </div>
    </form> <!-- /.register-form -->
{% endblock %}