<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    <h1>{{ title }}</h1>
    <form method="post", name="register">
        {{ form.hidden_tag() }}
            <p>
                <div>
                    {% for errors in form.errors.items() %}
                        <span style="color: red">[{{ errors }}]</span>
                    {% endfor %}
                </div>
                Enter your nickname:
                {{ form.nickname(size=20) }}
                <br>Enter your email:
                {{ form.email(size=20) }}
                <br>Enter your password:
                {{ form.password(size=20) }}
                <br>Repeat your password:
                {{ form.repeat_password(size=20) }}
            </p>
            <p>
                <input type="submit" value="Sign Up">
            </p>
    </form>
{% endblock %}