<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-lg-8">
                <div class="container-fluid card card-body mb-4">
                    <div class="row">
                        <div class="col-lg-2">
                            <img src="{{ user.avatar_url }}" alt="Avatar" class="rounded-circle user-avatar-xl">
                        </div>
                        <div class="col-lg-10">
                            <h4 class="card-title mb-1">{{ user.first_name }} {{ user.last_name }}</h4>
                            <h6 class="card-subtitle text-muted mb-2">@{{ user.nickname }}</h6>
                            <p class="card-text text-muted">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            {% if posts.items|length > 3 %}
                                t
                            {% else %}
                                n
                            {% endif %}
                        </div>
                    </div>

                </div> <!-- /.user-info -->

                <div class="posts">
                    {% if posts.items|length < 1 %}
                        <div class="card mb-4">
                            <div class="card-body">
                                <h4 class="card-title">Posts not found</h4>
                            </div>
                        </div> <!-- /.card -->
                    {% else %}
                        {% for post in posts.items %}
                            {% include 'post.html' %}
                        {% endfor %}
                        {% include 'pagination.html' %}
                    {% endif %}



                </div> <!-- /.user-posts -->
            </div>


            <div class="col-lg-4">
                {% if g.user.is_authenticated and user == g.user %}
                <div class="card mb-4">
                    <div class="card-body">
                        <h4 class="card-title">Make a post</h4>
                        <a href="{{ url_for('make_post') }}" class="btn btn-block btn-success">Start now</a>
                    </div>
                </div>


                <div class="card mb-4">
                    <div class="card-body">
                        <h4 class="card-title">User options</h4>
                        <form method="post" name="login">
                            {{ form.hidden_tag() }}
                            <div class="password-options">
                                <div class="form-group">
                                    <label for="inputOldPassword">Old password</label>

                                    {% if form.old_password.errors %}
                                    {{ form.old_password(class_="form-control is-invalid", placeholder="Old password", id="inputOldPassword") }}
                                    <small class="form-text text-danger">Wrong password.</small>
                                    {% else %}
                                    {{ form.old_password(class_="form-control", placeholder="Old password", id="inputOldPassword") }}
                                    {% endif %}
                                </div>

                                <div class="form-row">

                                    <div class="form-group col-md-6">
                                        <label for="inputNewPassword">New password</label>

                                        {% if form.new_password.errors %}
                                        {{ form.new_password(class_="form-control is-invalid", placeholder="New password", id="inputNewPassword") }}
                                        <small class="form-text text-danger">Passwords do not match.</small>
                                        {% else %}
                                        {{ form.new_password(class_="form-control", placeholder="New password", id="inputNewPassword") }}
                                        {% endif %}
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputRepeatNewPassword">Repeat password</label>

                                        {% if form.new_password_repeat.errors %}
                                        {{ form.new_password_repeat(class_="form-control is-invalid", placeholder="Repeat new password", id="inputRepeatNewPassword") }}
                                        {% else %}
                                        {{ form.new_password_repeat(class_="form-control", placeholder="Repeat new password", id="inputRepeatNewPassword") }}
                                        {% endif %}
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-warning" value="save_password">Save</button>
                            </div>
                        </form>
                    </div>
                </div> <!-- /.user-options -->

                <div class="card mb-4">
                    <div class="card-body">
                        <h4 class="card-title">Avatar options</h4>
                        <form method="post" name="add_avatar">
                        {{ form_av.hidden_tag() }}
                            <div class="form-group">
                                {% if form_av.avatar.errors %}
                                    {{ form_av.avatar(class_="form-control is-invalid", placeholder="New avatar", id="inputAddAvatar") }}
                                    <small class="form-text text-danger">Input required.</small>
                                {% else %}
                                    {{ form_av.avatar(class_="form-control", placeholder="New password", id="inputAddAvatar") }}
                                {% endif %}
                            </div>
                            <button type="submit" class="btn btn-warning" value="save_password">Save</button>
                        </form>
                    </div>
                </div>
                {% endif %}

                {% if g.user.is_authenticated and g.user.role == global_role['admin'] %}
                <div class="card mb-4">
                    <div class="card-body">
                        <h4 class="card-title">Admin's options</h4>
                        <button class="btn btn-warning btn-block text-white font-weight-bold">Ban User</button>
                        <button class="btn btn-danger btn-block text-white font-weight-bold">Delete User</button>
                    </div>
                </div> <!-- /.admin's options -->
                {% endif %}
            </div>
        </div>



        {#<!--{% else %}
        <div class="row">
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        2
                    </div>
                </div>
            </div>
            <div class="col-lg-4"></div>
        </div>
        {% endif %}-->#}
    </div>

{% endblock %}
